.home-container {
    display: flex;
}

.movies-section {
    flex: 1;
    padding: 20px;
}

.tags {
    margin-bottom: 20px;
}

.tags span {
    display: inline-block;
    background-color: #f5f5f5;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}